<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<div class = "row" align= "center">
	<div class = "col-md-12">
		<h1> Below is a list of all planets that I will be serving, click on them to view various facts about each one! </h1>
	</div>
</div>

<br>

<div class = "row" align= "center">
	<div class = "col-md-6">
		<a href="https://rickandmorty.fandom.com/wiki/Blips_and_Chitz">
		<img width="500" height="400" src="https://res.cloudinary.com/teepublic/image/private/s--96D3UWgj--/t_Preview/b_rgb:484849,c_limit,f_jpg,h_630,q_90,w_630/v1446244127/production/designs/295626_1.jpg">
		</a>
		<h2>Blips and Chitz</h2>
	</div>
	
	<div class = "col-md-6">
		<a href="https://rickandmorty.fandom.com/wiki/Snake_Planet">
		<img width="500" height="400" src="https://static.wikia.nocookie.net/rickandmorty/images/4/43/Snake_Planet.png/revision/latest/scale-to-width-down/1000?cb=20191217203922">
		</a>
		<h2>Snake Planet</h2>
	</div>
</div>

<br>

<div class = "row" align= "center">
	<div class = "col-md-12">
		<a href="https://rickandmorty.fandom.com/wiki/Resort_planet">
		<img width="500" height="400" src="https://static.wikia.nocookie.net/rickandmorty/images/d/d7/S3e5_resort_planet.png/revision/latest/scale-to-width-down/1000?cb=20171119204625">
		</a>
		<h2>Resort Planet</h2>
	</div>
</div>